@import url("https://fonts.googleapis.com/css2?family=Darker+Grotesque:wght@300;400;500;600;700;800;900&display=swap");

body,
html {
  font-family: "Darker Grotesque", sans-serif;
}

form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 25px;
}

.login-input {
  width: 399px;
  height: 47px;
  border: 0.704735px solid rgba(0, 0, 0, 0.25);
  border-radius: 3.52368px;
  padding-left: 10px;
  font-family: "Darker Grotesque", sans-serif;
  background: transparent;
  color: #000;
}

@media only screen and (min-width: 1023px) {
  .hero-image {
    display: none;
  }
}
